.text-risk-date {
    width: 150px;
}

.text-risk-dep {
    width: 250px;
}

.text-risk-file {
    width: 150px;
}

.text-risk-detail {
    white-space: nowrap;
    overflow: hidden;
    width: 350px;
    text-overflow: ellipsis;
}